---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jurnal Refleksi | Ceeley" sideBarActiveItemID="refleksi">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Apa yang telah saya pelajari dari mata kuliah ini?</div>
    <div class="text-xl w-full italic text-gray-500 mt-2">Sebuah Jurnal Perjalanan Pembelajaran Etika Budaya</div>
  </div>

  <div class="mb-10 text-justify prose prose-lg max-w-none">
    
    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 1: Introduction</h3>
    <p>
      Di awal pertemuan ini, Pak John hanya memberikan perkenalan terhadap kelasnya saja, bahwa beberapa 
      pertemuan awal akan membahas tentang budaya, dan kemudian pertemuan selanjutnya sampai akhir akan membahas tentang etika.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 2: "Bebas Budaya"?</h3>
    <p>
    Perjalanan ini bermula di Pertemuan ke-2, saat Pak John melempar pertanyaan fundamental: "Bisakah manusia hidup tanpa budaya?"

    Saat itu, pikiran saya langsung menjawab: "Bisa." Saya berpikir budaya itu hanya sekadar warisan seremonial atau norma kuno. Saya pikir, jika saya menolak norma lama tersebut, saya tetap bisa hidup sebagai manusia fungsional. Saya merasa otonom dan bisa berdiri di atas logika saya sendiri tanpa bantuan "tradisi".

    Namun, setelah membedah materi lebih dalam, terlihat celah dalam logika saya. Ternyata, saat saya menolak budaya lama, saya tidak sedang meniadakan budaya, melainkan sedang mengadopsi atau menciptakan pola budaya baru yang lebih relevan dengan zaman sekarang. Kesimpulannya, budaya itu bersifat <i>Inseparable</i> (tak terpisahkan) dan Dinamis. Kita tidak bisa "keluar" dari budaya; kita hanya berpindah antar budaya.

    Hal ini mirip mekanisme Sistem Operasi (OS) di komputer. Kita bisa saja merasa OS lama sudah ketinggalan zaman dan menghapusnya. Tapi, kita menghapusnya untuk menggantinya dengan versi update (budaya baru). Komputer tidak bisa beroperasi tanpa OS sama sekali. Begitu pun manusia, tidak bisa berfungsi tanpa sistem nilai, sekuno atau semodern apa pun bentuknya.  
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 3: Agen Pewaris</h3>
    <p>
      Di Pertemuan ke-4, fokus beralih ke Agen Pewaris budaya. Poin kuncinya adalah bahwa pewarisan budaya sangat bergantung pada kredibilitas agennya. Sebuah nilai hanya akan bertahan jika agen pewarisnya (orang tua/guru) benar-benar mengimani dan mempraktikkan nilai tersebut.

      Hal ini sering dilihat dalam kehidupan beragama.
      Ada orang tua teman saya yang hanya mengajari agama agar anaknya bisa memiliki agama, padahal ia sendiri tidak percaya. 
      Akibatnya, teman saya kemudian menjadi bingung sendiri dengan agama yang dianutnya. Budaya gagal terwaris karena agennya tidak cukup "percaya" pada apa yang ia jual.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 4: Terperangkap Jaring Laba-laba</h3>
    <p>
      Pemahaman mengenai budaya kemudian diperkuat dengan penjelasan dari konsep jaring laba-laba Clifford Geertz. Konsep yang sangat bagus dan mudah dipahami, memang.
      Laba-laba terus menerus menenun jaringnya, namun bagaimana jika ada laba-laba lain yang tercekik karena jaring yang dibuat temannya?
      Hal ini dapat saya katakan karena ada sebuah kejadian yang membuat saya berpikir demikian, namun disini akan saya jelaskan dengan sebuah kejadian yang memang benar sempat terjadi, yakni: <strong>Persekusi Cikupa</strong>.
    </p>
    <p>
      Cerita dari kejadian ini adalah, ada pasangan yang belum menikah, sedang berada di dalam kamar, tidak berbuat asusila, namun kemudian digrebek, dilucuti, dan dianiaya (oleh rombongan yang dibawa oleh ketua RT-nya, yang kemudian dibilang katanya hanya karena lagi emosi).
      Namun tetap saja, faktanya adalah dua kekasih di dalam ruang tertutup tidak berarti mereka sedang berzina. Namun oleh karena jaring laba-laba yang dibuat masyarakat bahwa tidak boleh pacaran berduaan di dalam kamar, 
      mereka dilucuti dan dianiaya. Kemudian mereka dinikahi. 

      <em>Tau darimana mereka siap nikah? Kalau sebenarnya mereka tidak mau menikah gimana? Bagaimana jika mereka berencana putus?</em>  
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 5: Subjektivitas Moral</h3>
    <p>
      Pada pertemuan ini kita mulai beranjak dari materi budaya menuju ke etika. Dimulai dari pembahasan mengenai apakah moral itu subjektif atau objektif. 
      Disini saya setuju bahwa moral itu memang bersifat subjektif. Kemudian kita juga sempat membahas sedikit mengenai <strong>Emotivism</strong>.
      Saya awalnya mendewakan moral berdasarkan pemikiran, namun kemudian belajar menghargai "perasaan" karena rasa tidak nyaman saya pada kasus Cikupa itu valid. Itu adalah alarm moral.
      Dan karena moral bersifat subjektif, jadi mungkin saja orang lain tidak merasakan hal yang sama terhadap kasus Cikupa.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 6: Kebebasan dan Tanggung Jawab</h3>
    <p>
      Kemudian dalam P6, membahas tentang hati nurani, kebebasan, dan tanggung jawab. Yang saya tahu mengenai hal ini sebelum memasuki kelas adalah mengenai kebebasan, dimana batas kebebasan kita adalah ketika kebe