---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jurnal Refleksi | Ceeley" sideBarActiveItemID="refleksi">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Menenun Ulang Paradigma</div>
  </div>

  <div class="mb-10 text-justify prose prose-lg max-w-none">
    <p>
      Jika saya harus jujur, saya melangkah masuk ke kuliah pertama Etika Budaya dengan kepala yang lumayan keras. Saya pikir saya sudah cukup modern...
      (Paste sisa tulisan panjang kamu di sini)
    </p>

    <p>
      Semuanya bermula ketika pertanyaan sederhana dilontarkan...
      (Jangan lupa setiap ganti paragraf, bungkus pakai tag p seperti ini)
    </p>

    </div>
</BaseLayout>